Repository UB-ES-2020-A/Grup-ES, pull requests merged in 2020-11, with the labels that each got.

#84 [US-LR-3-Task1&4] Cambio de contraseña
  backend/data.db
  backend/model/recovery.py
  backend/resources/recovery.py
  backend/tests/test_LR_3.py
  frontend/src/components/Login.vue
  frontend/src/components/changePassword.vue
  frontend/src/components/resetPassword.vue
  frontend/src/router/index.js
Labels: frontend

#118 Tech debt 8 task3 navbar
  frontend/src/components/AddBooks.vue
  frontend/src/components/Biblioteca.vue
  frontend/src/components/DeleteBooks.vue
  frontend/src/components/Login.vue
  frontend/src/components/MisPedidos.vue
  frontend/src/components/ModifyBooks.vue
  frontend/src/components/PayMethod.vue
  frontend/src/components/RegisterForm.vue
  frontend/src/components/Search.vue
  frontend/src/components/book.vue
  frontend/src/components/changePassword.vue
  frontend/src/components/main.vue
  frontend/src/components/resetPassword.vue
  frontend/src/components/subcomponents/navbar.vue
Labels: Technical Debt

#128 US-REV-3-Task2
  backend/model/books.py
  backend/model/reviews.py
  backend/model/users.py
  backend/tests/test_REV_3.py
Labels: backend

#129 [TECH-DEBT-8-Task2] Components modulars: footer
  frontend/src/App.vue
  frontend/src/components/Biblioteca.vue
  frontend/src/components/MisPedidos.vue
  frontend/src/components/PayMethod.vue
  frontend/src/components/Search.vue
  frontend/src/components/Stock.vue
  frontend/src/components/book.vue
  frontend/src/components/main.vue
  frontend/src/components/subcomponents/foot.vue
  frontend/src/router/index.js
Labels: Technical Debt, frontend

#132 Implementacio de dos endpoints per gestionar el archivat de llibres en biblioteca.
  backend/init_app.py
  backend/model/library.py
  backend/model/users.py
  backend/resources/library.py
  backend/tests/test_BIB_1.py
Labels: backend

#131 Us am 7 task1
  frontend/package-lock.json
  frontend/src/components/AddBooks.vue
  frontend/src/components/Stock.vue
  frontend/src/components/subcomponents/AddBooks.vue
  frontend/src/components/subcomponents/navbar.vue
  frontend/src/router/index.js
Labels: frontend

#134 Us rev 3 task3
  backend/init_app.py
  backend/model/reviews.py
  backend/resources/reviews.py
  backend/tests/test_REV_3.py
Labels: backend

#137 Us am 7 task2
  frontend/src/components/DeleteBooks.vue
  frontend/src/components/ModifyBooks.vue
  frontend/src/components/Stock.vue
  frontend/src/components/subcomponents/DeleteBooks.vue
  frontend/src/components/subcomponents/ModifyBooks.vue
  frontend/src/router/index.js
Labels: frontend

#135 Correcio del endpoint de arxivar.
  backend/init_app.py
  backend/tests/test_BIB_1.py
Labels: backend

#140 info displayed when modifying a book
  frontend/src/components/subcomponents/ModifyBooks.vue
Labels: frontend

#139 TECH-DEBT-6-Task1
  frontend/src/components/Login.vue
  frontend/src/components/PayMethod.vue
  frontend/src/components/RegisterForm.vue
Labels: Technical Debt, frontend

#138 [US-BIB-3-Task2] Implementacio del endpoint PUT de library + Millores.
  backend/init_app.py
  backend/resources/library.py
  backend/tests/test_BIB_2.py
  backend/tests/test_BIB_3.py
  backend/tests/test_REV_3.py
Labels: backend

#141 US-REV-1-Task3
  backend/model/books.py
  backend/model/users.py
  backend/resources/books.py
  backend/resources/users.py
  backend/tests/test_REV_1.py
Labels: backend

#142 Us rev 3 task1
  backend/data.db
  backend/migrations/versions/b6ed1f7388aa_.py
  frontend/src/components/book.vue
  frontend/src/components/subcomponents/ModifyBooks.vue
Labels: frontend

#143 Fix user model
  backend/model/users.py
Labels: backend, bugs

#145 US-REV-1-TASK2 Visualització del score
  frontend/src/components/Search.vue
  frontend/src/components/book.vue
  frontend/src/components/main.vue
Labels: frontend

#146 US-REV-1-Task1 Show reviews in book page
  frontend/src/components/book.vue
Labels: frontend

#133 US-GP-2-Task2 (bis)
  backend/model/users.py
  backend/resources/recovery.py
  backend/resources/users.py
  backend/tests/test_GP_2.py
  backend/tests/test_LR_3.py
Labels: backend

#148 Tech debt 14
  frontend/src/components/Biblioteca.vue
  frontend/src/components/Login.vue
  frontend/src/components/MisPedidos.vue
  frontend/src/components/PayMethod.vue
  frontend/src/components/RegisterForm.vue
  frontend/src/components/Search.vue
  frontend/src/components/Stock.vue
  frontend/src/components/book.vue
  frontend/src/components/changePassword.vue
  frontend/src/components/main.vue
  frontend/src/components/resetPassword.vue
  frontend/src/components/subcomponents/AddBooks.vue
  frontend/src/components/subcomponents/DeleteBooks.vue
  frontend/src/components/subcomponents/ModifyBooks.vue
  frontend/src/components/subcomponents/navbar.vue
  frontend/src/main.js
Labels: Technical Debt, enhancement

#152 [TECH-DEBT-12] Implementacio de continous deployment
  .travis.yml
  build.sh
  deployment/app.py
  deployment/config.py
  deployment/db.py
  deployment/init_app.py
  deployment/model/books.py
  deployment/model/library.py
  deployment/model/recovery.py
  deployment/model/transactions.py
  deployment/model/users.py
  deployment/resources/books.py
  deployment/resources/library.py
  deployment/resources/recovery.py
  deployment/resources/transactions.py
  deployment/resources/users.py
  deployment/static/css/app.eca0d95a0c018d7c8213ee52a165b7b5.css
  deployment/static/css/app.eca0d95a0c018d7c8213ee52a165b7b5.css.map
  deployment/static/css/app.f9dfcc90ed8a1fc0374535d9c926be99.css
  deployment/static/css/app.f9dfcc90ed8a1fc0374535d9c926be99.css.map
  deployment/static/js/app.2a372c96530fc187cafd.js
  deployment/static/js/app.2a372c96530fc187cafd.js.map
  deployment/static/js/app.2ed49cca8e831c55f9e3.js
  deployment/static/js/app.2ed49cca8e831c55f9e3.js.map
  deployment/static/js/manifest.2ae2e69a05c33dfc65f8.js
  deployment/static/js/manifest.2ae2e69a05c33dfc65f8.js.map
  deployment/static/js/vendor.88c9b69b14360381e6ce.js
  deployment/static/js/vendor.88c9b69b14360381e6ce.js.map
  deployment/static/js/vendor.d843e7f55b700c76a96b.js
  deployment/static/js/vendor.d843e7f55b700c76a96b.js.map
  deployment/templates/index.html
  deployment/utils/mail.py
  migrate.sh
Labels: DevOps, Technical Debt

#156 [US-BIB-3-Task1] Dropdown para cambiar de estado los libros de la biblioteca
  frontend/package-lock.json
  frontend/src/components/Biblioteca.vue
  frontend/src/components/PayMethod.vue
Labels: frontend

#158 Hotfix library
  backend/model/library.py
  backend/resources/library.py
Labels: backend, bugs

#159 [US-BIB-1-Task1] Archivar libros en biblioteca
  frontend/src/components/Biblioteca.vue
Labels: frontend

#163 TECH-DEBT-9-Task3
  backend/model/transactions.py
  backend/tests/test_COM_6.py
Labels: backend

#162 Tech debt 9 task2
  backend/model/transactions.py
  backend/resources/transactions.py
  frontend/src/components/MisPedidos.vue
  frontend/src/components/PayMethod.vue
Labels: Technical Debt, bugs, frontend

#164 [US-COM-2-Task1] WishList
  frontend/src/components/Wishlist.vue
  frontend/src/components/book.vue
  frontend/src/components/subcomponents/navbar.vue
  frontend/src/router/index.js
Labels: frontend

#166 US-GP-1-Task2
  backend/tests/test_GP_1.py
Labels: backend

#170 Hotfix: eliminar nateja de expiracio de claus
  backend/model/recovery.py
Labels: bugs
