Repository UB-ES-2020-A/Grup-ES, pull requests merged in 2020-12, with the labels that each got.

#188 US-SRC-2-Task2 - Upgrade to SearchBooks endpoint
  backend/model/recovery.py
  backend/resources/books.py
  backend/resources/recovery.py
  backend/tests/test_LR_3.py
  backend/tests/test_SRC_1.py
  frontend/src/components/resetPassword.vue
Labels: Technical Debt, backend

#193 [US-BIB-6-Task1] Buscar en biblioteca
  frontend/src/components/Biblioteca.vue
Labels: frontend

#194 Rework visuals mis pedidos
  frontend/src/components/MisPedidos.vue
Labels: enhancement, frontend

#197 [US-BIB-5-Task1] Ordenar Biblioteca
  frontend/src/components/Biblioteca.vue
Labels: frontend

#199 Us com 4 task1
  backend/data.db
  frontend/src/components/Transactions.vue
  frontend/src/components/subcomponents/navbar.vue
  frontend/src/router/index.js
Labels: frontend

#198 [US-GRR-3-Task2] Implementacio del endpoint de delete de reveiws des de user.
  backend/init_app.py
  backend/model/reviews.py
  backend/resources/reviews.py
  backend/tests/test_US_GRR_3.py
Labels: backend, question

#200 Tech debt 16 task1
  frontend/src/components/subcomponents/ModifyBooks.vue
  frontend/src/components/subcomponents/ProfileSettings.vue
  frontend/src/components/subcomponents/navbar.vue
Labels: frontend

#208 [US-GRR-3-Task1] Client eliminar review
  backend/model/users.py
  frontend/src/components/Login.vue
  frontend/src/components/book.vue
Labels: frontend

#205 [US-GRR-1-Task2] Modificacio del endpoint delete.
  backend/resources/reviews.py
  backend/tests/test_US_GRR_1.py
  backend/tests/test_US_GRR_3.py
Labels: backend

#206 [US-GRR-2-Task2] Creacio put review + metode update en el model review i score.
  backend/model/reviews.py
  backend/resources/reviews.py
  backend/tests/test_US_GRR_2.py
Labels: backend

#209 [US-GRR-1-Task1] Admin eliminar qualsevol review
  frontend/src/components/book.vue
Labels: frontend

#207 US-COM-8-Task2
  backend/model/transactions.py
  backend/resources/transactions.py
  backend/tests/test_COM_8.py
Labels: backend

#211 [US-LR-4-Task1] Confirmación por correo
  frontend/src/components/RegisterForm.vue
  frontend/src/components/subcomponents/navbar.vue
Labels: frontend

#213 [HOT-FIX-3] Solucionado el problema de get y puts
  frontend/src/components/Biblioteca.vue
Labels: bugs

#215 hotfix-4-Filter by isbn returns all transactions that contain the book
  backend/model/transactions.py
  backend/resources/transactions.py
  backend/tests/test_COM_8.py
Labels: backend

#218 Us com 8 task1
  backend/data.db
  frontend/src/components/Transactions.vue
Labels: frontend

#217 TECH-DEBT-18-Task2
  backend/resources/books.py
  backend/tests/test_AM_4.py
Labels: backend

#216 [TECH-DEBT-17] Possible correcions del postgress
  backend/model/recovery.py
  backend/model/users.py
Labels: DevOps, backend, bugs

#220 [TECH-DEBT-16-Task2] Gestion: Transacciones y navegabilidad
  frontend/src/components/PayMethod.vue
  frontend/src/components/UserProfile.vue
  frontend/src/components/subcomponents/navbar.vue
Labels: Technical Debt, frontend

#219 TECH DEBT 18 Task 1
  backend/data.db
  frontend/src/components/Search.vue
  frontend/src/components/Stock.vue
  frontend/src/components/book.vue
  frontend/src/components/main.vue
  frontend/src/components/subcomponents/DeleteBooks.vue
  frontend/src/components/subcomponents/navbar.vue
Labels: frontend

#223 [TECH-DEBT-20] - Controlar si els Best Sellers son vendibles
  backend/resources/books.py
  backend/tests/test_ESCP_3.py
Labels: backend

#224 Enpoints comencen amb + afegit restriccions de usuari #94.
  backend/init_app.py
  backend/model/users.py
  backend/resources/books.py
  backend/resources/library.py
  backend/resources/reviews.py
  backend/resources/transactions.py
  backend/tests/app.py
  backend/tests/test_AM_1.py
  backend/tests/test_AM_3.py
  backend/tests/test_AM_4.py
  backend/tests/test_BIB_1.py
  backend/tests/test_BIB_2.py
  backend/tests/test_BIB_3.py
  backend/tests/test_COM_4.py
  backend/tests/test_COM_6.py
  backend/tests/test_COM_8.py
  backend/tests/test_ESCP_3.py
  backend/tests/test_ESCP_4.py
  backend/tests/test_GP_1.py
  backend/tests/test_GP_2.py
  backend/tests/test_LR_2.py
  backend/tests/test_LR_3.py
  backend/tests/test_REV_1.py
  backend/tests/test_REV_3.py
  backend/tests/test_SRC_1.py
  backend/tests/test_US_GRR_1.py
  backend/tests/test_US_GRR_2.py
  backend/tests/test_US_GRR_3.py
Labels: Technical Debt, backend

#227 TECH-DEBT-19 - Delete book from wishlist
  backend/model/transactions.py
  backend/tests/test_COM_6.py
Labels: backend

#226 TECH-DEBT-20-Task2
  backend/resources/books.py
  backend/tests/test_ESCP_4.py
Labels: Technical Debt, backend

#228 Tech debt 10 task1
  backend/init_app.py
  backend/model/users.py
  backend/resources/books.py
  backend/resources/library.py
  backend/resources/reviews.py
  backend/resources/transactions.py
  backend/tests/app.py
  backend/tests/test_AM_1.py
  backend/tests/test_AM_3.py
  backend/tests/test_AM_4.py
  backend/tests/test_BIB_1.py
  backend/tests/test_BIB_2.py
  backend/tests/test_BIB_3.py
  backend/tests/test_COM_4.py
  backend/tests/test_COM_6.py
  backend/tests/test_COM_8.py
  backend/tests/test_ESCP_3.py
  backend/tests/test_ESCP_4.py
  backend/tests/test_GP_1.py
  backend/tests/test_GP_2.py
  backend/tests/test_LR_2.py
  backend/tests/test_LR_3.py
  backend/tests/test_REV_1.py
  backend/tests/test_REV_3.py
  backend/tests/test_SRC_1.py
  backend/tests/test_US_GRR_1.py
  backend/tests/test_US_GRR_2.py
  backend/tests/test_US_GRR_3.py
  frontend/src/components/Biblioteca.vue
  frontend/src/components/MisPedidos.vue
  frontend/src/components/NotFound.vue
  frontend/src/components/PayMethod.vue
  frontend/src/components/Stock.vue
  frontend/src/components/Transactions.vue
  frontend/src/components/UserProfile.vue
  frontend/src/components/Wishlist.vue
  frontend/src/components/book.vue
  frontend/src/components/main.vue
  frontend/src/components/subcomponents/AddBooks.vue
  frontend/src/components/subcomponents/DeleteBooks.vue
  frontend/src/components/subcomponents/ModifyBooks.vue
  frontend/src/components/subcomponents/navbar.vue
  frontend/src/main.js
  frontend/src/router/index.js
Labels: Technical Debt, enhancement, frontend

#229 [TECH-DEBT-6-Task2] Comprovacio dels paramtres en endpoints + Correcions de FE.
  backend/data.db
  backend/resources/books.py
  backend/resources/recovery.py
  backend/resources/users.py
  backend/tests/test_GP_2.py
  backend/tests/test_LR_2.py
  backend/tests/test_LR_3.py
  backend/tests/test_REV_1.py
  backend/tests/test_SRC_1.py
  backend/tests/test_TECH_DEBT_6.py
  frontend/src/components/Biblioteca.vue
  frontend/src/components/MisPedidos.vue
  frontend/src/components/PayMethod.vue
  frontend/src/components/RegisterForm.vue
  frontend/src/components/Stock.vue
  frontend/src/components/Transactions.vue
  frontend/src/components/UserProfile.vue
  frontend/src/components/Wishlist.vue
  frontend/src/components/subcomponents/AddBooks.vue
  frontend/src/components/subcomponents/ModifyBooks.vue
  frontend/src/components/subcomponents/navbar.vue
Labels: Technical Debt, backend, frontend

#232 [US-COM-6-Task3-2] Canvi del correu perquè no enviï un llistat de JSON pel correu,
  backend/model/transactions.py
Labels: backend, enhancement

#233 Tech debt 15 task2
  backend/data.db
  backend/model/users.py
  backend/resources/books.py
  backend/resources/users.py
  backend/tests/test_ESCP_4.py
  frontend/src/App.vue
  frontend/src/assets/bookshelter_icon1.png
  frontend/src/assets/carousel/book_3.jpg
  frontend/src/assets/notfound.png
  frontend/src/components/Biblioteca.vue
  frontend/src/components/Login.vue
  frontend/src/components/MisPedidos.vue
  frontend/src/components/NotFound.vue
  frontend/src/components/PayMethod.vue
  frontend/src/components/RegisterForm.vue
  frontend/src/components/Search.vue
  frontend/src/components/Stock.vue
  frontend/src/components/Transactions.vue
  frontend/src/components/UserProfile.vue
  frontend/src/components/Wishlist.vue
  frontend/src/components/book.vue
  frontend/src/components/changePassword.vue
  frontend/src/components/main.vue
  frontend/src/components/resetPassword.vue
  frontend/src/components/subcomponents/AddBooks.vue
  frontend/src/components/subcomponents/DeleteBooks.vue
  frontend/src/components/subcomponents/ModifyBooks.vue
  frontend/src/components/subcomponents/ProfileSettings.vue
  frontend/src/components/subcomponents/navbar.vue
Labels: Technical Debt, enhancement, frontend

#234 [TECH-DEBT-15-Task3]
  frontend/src/components/Biblioteca.vue
  frontend/src/components/Login.vue
  frontend/src/components/MisPedidos.vue
  frontend/src/components/PayMethod.vue
  frontend/src/components/RegisterForm.vue
  frontend/src/components/Search.vue
  frontend/src/components/Stock.vue
  frontend/src/components/Transactions.vue
  frontend/src/components/UserProfile.vue
  frontend/src/components/Wishlist.vue
  frontend/src/components/book.vue
  frontend/src/components/changePassword.vue
  frontend/src/components/main.vue
  frontend/src/components/resetPassword.vue
  frontend/src/components/subcomponents/AddBooks.vue
  frontend/src/components/subcomponents/DeleteBooks.vue
  frontend/src/components/subcomponents/ModifyBooks.vue
  frontend/src/components/subcomponents/ProfileSettings.vue
  frontend/src/components/subcomponents/foot.vue
  frontend/src/components/subcomponents/navbar.vue
  frontend/src/main.js
Labels: Technical Debt, frontend

#235 Petites correcions missatges del endpoint.
  backend/resources/library.py
  backend/resources/recovery.py
  backend/tests/test_LR_3.py
  frontend/src/components/resetPassword.vue
Labels: backend, bugs, enhancement

#230 US-LR-4-Task2
  backend/data.db
  backend/init_app.py
  backend/migrations/versions/36670f5ec437_.py
  backend/model/users.py
  backend/model/verify_email.py
  backend/resources/users.py
  backend/resources/verify_email.py
  backend/tests/test_LR_4.py
Labels: backend

#236 HotFix URL not found
  frontend/src/components/NotFound.vue
  frontend/src/router/index.js
Labels: bugs, enhancement, frontend

#237 Coverage
  .coveragerc
  .coveralls.yml
  .travis.yml
  README.md
  deployment/requirements.txt
  requirements_test.txt
Labels: DevOps

#238 Last bugs
  README.md
  backend/data.db
  backend/model/transactions.py
  frontend/src/components/Search.vue
  frontend/src/components/UserProfile.vue
  frontend/src/components/book.vue
  frontend/src/components/subcomponents/AddBooks.vue
  frontend/src/components/subcomponents/DeleteBooks.vue
  frontend/src/components/subcomponents/ModifyBooks.vue
  frontend/src/components/subcomponents/ProfileSettings.vue
  frontend/src/components/subcomponents/navbar.vue
Labels: backend, bugs, frontend
